<footer class="page-footer font-small blue">

    
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="http://ghiti.in/home.php"> Guru Harkrishan Pvt. FAzilka </a>
    </div>

  
  </footer>