

<div class = "container">
    <div>
        <label for="uName">First Name :</label>
        <input id="uName" type="text" pInputText />
    </div>
    <hr>
    <div>
        <label for="uName">Last Name :</label>
        <input id="uName" type="text" pInputText />
    </div>
    <hr>
    <div>
        <label>Date of Birth :</label>
        <p-calendar formControlName="date"></p-calendar>

    </div>
    <hr>
    <div>
        <label>Password</label>
        <input type="password" pPassword />
    </div>
    <hr>
    <hr>
    <div>
        <p-button label="Login" styleClass="ui-button-success"></p-button>
    </div>

</div>